:root {

    /* colors */
    --bright-orange: hsl(31, 77%, 52%);
    --dk-cyan: hsl(184, 100%, 22%);
    --very-dk-cyan: hsl(179, 100%, 13%);

    --white-alpha: hsla(0, 0%, 100%, 0.75);
    --very-lt-gray: hsl(0, 0%, 95%);

    /* components */
    --clr-card-bg-sedans: var(--bright-orange);
    --clr-card-bg-suvs: var(--dk-cyan);
    --clr-card-bg-luxury: var(--very-dk-cyan);
    --clr-main-bg: var(--very-lt-gray);

    --clr-text-primary: var(--white-alpha);
    --clr-text-heading: var(--very-lt-gray);
    --clr-button-primary: var(--very-lt-gray);

    /* font-size */
    --fs-400: 0.938rem;
    --fs-800: 2.5rem;

    /* font-weight */
    --fw-regular: 400;
    --fw-bold: 700;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

body {
    background-color: teal;
    color: var(--clr-text-primary);
    font-family: 'Lexend Deca', sans-serif;
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);

    display: grid;
    place-content: center;
    /* justify-content: center; */
}

section {
    /* height: 31.25rem; */
    width: 19.125rem;
    padding: 3rem;
}

.card__container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.card--sedans {
    background-color: var(--clr-card-bg-sedans);
}

.card--sedans button {
    color: var(--clr-card-bg-sedans);
}

.card--suvs {
    background-color: var(--clr-card-bg-suvs);
}

.card--suvs button {
    color: var(--clr-card-bg-suvs);
}

.card--luxury {
    background-color: var(--clr-card-bg-luxury);
}

.card--luxury button {
    color: var(--clr-card-bg-luxury);
}

.card__title {
    color: var(--clr-text-heading);
    font-family: 'Big Shoulders Display', cursive;
    font-size: var(--fs-800);
    margin: 1.813rem 0 1.25rem;
    text-transform: uppercase;
}

section p {
    line-height: 1.65;
}

button {
    cursor: pointer;
    background-color: var(--clr-button-primary);
    border: 2px solid var(--clr-text-heading);
    border-radius: 50px;
    padding: 0.688rem 2rem;
    margin-top: 5.188rem;
}

button:hover {
    background-color: transparent;
    color: var(--clr-text-heading);
}